@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
	font-weight: inherit;
	font-size: inherit;
    text-decoration: none;
    vertical-align: baseline;
    outline: 0;
}